<%= render posts %>

<% events.each do |event| %>
  <%= render 'posts/event', event: event %>
<% end %>

<% if events.count.zero? && posts.count.zero? %>
  <div class="w-full flex justify-center items-center h-80">
    <p> No events found, try playing with the filters!</p>
  </div>
<% end %>
