@tailwind base;
@tailwind components;
@tailwind utilities;


/* FOR FLOATING FORM FIELD : https://notiz.dev/blog/floating-form-field-with-tailwindcss */
input:focus-within ~ label {
  @apply transform scale-75 -translate-y-6 text-blue-500;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

input:focus-within ~ label {
  @apply text-blue-500;
}

select:focus-within ~ label {
  @apply transform scale-75 -translate-y-6 text-blue-500;
}

select:focus-within ~ label,
select:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

select:focus-within ~ label {
  @apply text-blue-500;
}

img.hero-picture-height {
  @apply lg:h-fit h-auto;
}

/* FOR FLOATING FORM FIELD - END */

/* .w-full {
  width: 100% !important;
}

.bg-blue-500 {
  background-color: rgb(59 130 246/var(--tw-bg-opacity)) !important;
}

.cursor-pointer {
  cursor: pointer !important;
} */
